* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 0 9%;
}

.button {
    background-color: #9BA31A;
    color: white;
    border: none;
    padding: 8px 35px;
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #8A9024;
}

/* For the header */
header {
    padding-top: 30px;
    padding-bottom: 40px;
}

.header-container {
    padding: 0 20px;
    position:relative;
}

.header-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.navbar a {
    text-transform: uppercase;
    font-family: Joan, Georgia, serif;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
    color: #a7a7a7;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: black;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    position:absolute;
    right: 100px;
    top:0px;
}

hr {
    margin: 30px 9% 0 9%;
}

/* For the Container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 40px;
}

h1 {
    font-family: Joan, Georgia, serif;
    font-weight: 100;
    font-size: 40px;
    color: #333333;
    margin-bottom: 10px;
}

.selected-recipe {
    font-family: Joan, Georgia, serif;
    font-size: 18px;
}

.selected-recipe strong {
    font-family: Jost, sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
}

/* For the Ingredients */
.ingredients {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
}

.column {
    width: 50%;
}

.ingredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.ingredient p {
    font-family: Playfair Display, Georgia, serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: .5px;
    color: #828282;
}

.ingredient span {
    font-family: Jost, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .5px;
    color: #333333;
}

.checkbox {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dcdcdc;
    outline: none;
}

.checkbox:checked {
    background-image: url(../images/check.png);    
}

/* For the Actions Section */

.actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.actions-button-primary {
    background-color: #9BA31A;
    color: white;
    border: none;
    padding: 6px 35px;
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s;
}

.actions-button-primary:hover {
    background-color: #8A9024;
}

.actions-button-secondary {
    background-color: #A4A999;
    color: white;
    border: none;
    padding: 6px 35px;
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s;
}

.actions-button-secondary:hover {
    background-color: #868b7b;
}

/* .actions-button-secondary:visited {
    color: white;
    text-decoration: none; 
    background-color: #A4A999;
} */
/* For the Footer */

footer{
    background-image: url(../images/footer-background.jpg)
    
}

.footer-content {
    padding: 40px 9%;
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.footer-nav {
    flex-grow: 1;
  }

.footer-nav a {
    font-family: Jost, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav a:hover {
  color: #5c6d56;
}
.newsletter {
    display: flex;
    text-align: left;
    background-color: #F7F7F7;
    padding: 30px 30px;
    height: 75px;
    align-items: center;
}

.newsletter p {
    display: flex;
    font-size: 15px;
    font-family: Joan, Georgia, serif;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: .5px;
    padding-right: 30px;
    color: #666;
}

.newsletter form {
    display: flex;
    background-color: #ffffff;
}

.newsletter input[type="email"] {
    padding: 8px;
    font-family: Jost, sans-serif;
    letter-spacing: .2px;
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-radius: 0;
}

.newsletter button {
    padding: 5px 20px;
    font-family: Jost, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #A3A999;
    color: #4F4F4F;
    border: none;
    border-radius: 0;
    font-size: 15px;
}

.newsletter button:hover {
    background-color: #555;
    color: #A3A999;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #666;
}